<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="header">
      <h5>.</h5>
  </div>
  <div class="sidebar">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/How_to_use_icon.svg/1200px-How_to_use_icon.svg.png" alt="">
    <a href=""  class="active">Dashboard</a>
    <a href="">Students</a>
    <a href="">Teachers</a>
    <a href="">Classes</a>
    <a href="">Settings</a>
    
  </div>
  <div class="content">
    <span class="box">
      <h1>500</h1>
      <h3>Students</h3>
    </span>
    <span class="box">
      <h1>80</h1>
      <h3>Teachers</h3
    ></span>
  </div>
</body>
</html>