
  div.content {
    margin-left: 200px;
    padding: 53px 16px;
    height: 1000px;

  }

  
  @media screen and (max-width: 700px){
    h1{
      font-size: large;
    }
    h3{
      font-size: medium;
    }
  }
  .box {
    width: 30%;
    height: 20%;  
    padding: 50px;
    float: left;
    border: 1px solid #007bff;
    margin-left: 5%;
    margin-top: 2%;
  }
  .box:hover {
    transform: scale(1.02);
    transition: .5s;
  }

 