
<app-nav-bar></app-nav-bar>
<div class = "content">
    <h3>Student's Information</h3>
    <div id='search' >
        <input type="text" name="searchStudent" />
       <span> <a href=""><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3r52KruHccwHGmdZG_7wrEZ7F2I-c5Y6Zhw&usqp=CAU" alt=""></a></span>
    </div>
    <div>
        <table id='students'>
            <tr>
                <th id='lrn'>
                    LRN
                </th>
                <th id='name'>
                    Name
                </th>
                <th id=action>
                    View
                </th>
            </tr>
            <tr>
                <td>
                    <!-- {{nameof students}} -->
                    18106242
                </td>
                <td>
                    Irish Rufosd sadf asfsdsad 
                </td>
                <td>
                    view
                </td>

        </table>
    </div>
</div>

