/* mat-card {
   width: 233px;
   height: 250px;
   margin-left: 5%;
   margin-top: 3%;
  }
  
  img {
    height: 150px;
    width: 233px;
  } */

/* testing 2 */

/* .content{
    padding-left: 20px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, fantasy;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
}

.fas {
  margin-left: 17%;
  margin-top: 35%;
  margin-bottom: 40%;
}

.icon1 {
  background: #51749b !important;
  border: 1px solid #51749b;
  color: #FFFFFF;
  font-size: 25px;   
}

.icon2 {
  background: #4da64d !important;
  border: 1px solid #4da64d;
  color: #FFFFFF;
  font-size: 25px;   
}

.icon3 {
  background: #FF0000 !important;
  border: 1px solid #FF0000;
  color: #FFFFFF;
  font-size: 25px;   
}

.icon4 {
  background: #daa520  !important;
  border: 1px solid #daa520;
  color: #FFFFFF;
  font-size: 25px;   
}

.iconBox {
  position: relative;
  width: 10%;
  min-width: 20px;
  max-width: 50px;
  height: 100%;
  margin-left: 10%;
  top: 50%;
  z-index: 99999;
}

.mainBox {
  position: absolute;
  width: 85%;
  min-width: 150px;
  border: 1px solid black;
  background-color: white;
  margin-left: 5%;
}

button {
  width: 100%;
  min-width: 100px;
}

button:hover {
  background: #2080FF !important;
}

h3 {
  margin-left: 8%;
  font-size: 20px;
}

h1 {
  margin-left: 40%;
  font-size: 40px;
  margin-top: 4%;
} */

/* 
.content{
  margin-left: 20px;
  padding-right: 20px;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, fantasy;
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
}

h1 {
  margin-right: 5%;
  margin-top: 2%;
  float: right;
  font-weight: bold;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, fantasy;
}

h3 {
  margin-left: 35%;
  margin-top: -18%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, fantasy;
}

.fass {
  font-size: 35px;
  margin-left: 26%;
  margin-top: 28%;
}

.fas1 {
  font-size: 30px; 
  float: right;
  color: #2080FF;
  margin-right: 3%;
  margin-top: 2%;
}

.user {
  margin-left: 30%;
}

.icon1 {
  background: #00BFFF !important;
  border: 1px solid #00BFFF;  
}

.icon2 {
  background: #4da64d !important;
  border: 1px solid #4da64d;
}

.icon3 {
  background: #CB2521 !important;
  border: 1px solid #CB2521;
}

.icon4 {
  background: #daa520  !important;
  border: 1px solid #daa520;
}

.iconBox {
  width: 100px;
  height: 100px;
}

.mainBox {
  width: auto;
  min-width: 230px;
  max-width: 600px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 */

 
.content{
  margin-left: 20px;
  padding-right: 20px;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, fantasy;
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
}

h1 {
  margin-right: 5%;
  margin-top: 2%;
  float: right;
  font-weight: bold;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, fantasy;
}

h3 {
  margin-left: 35%;
  margin-top: -18%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, fantasy;
}

.fass {
  font-size: 35px;
  margin-left: 26%;
  margin-top: 28%;
}

.fas1 {
  font-size: 20px; 
  float: right;
  color: #2080FF;
  margin-right: 10px;
  margin-top: 40px;
  /* margin-right: 3%;
  margin-top: 2%; */
  /* padding: 10px; */
}

.user {
  margin-left: 30%;
}

.icon1 {
  background: #00BFFF !important;
  border: 1px solid #00BFFF;  
}

.icon2 {
  background: #4da64d !important;
  border: 1px solid #4da64d;
}

.icon3 {
  background: #CB2521 !important;
  border: 1px solid #CB2521;
}

.icon4 {
  background: #daa520  !important;
  border: 1px solid #daa520;
}

.iconBox {
  width: 100px;
  height: 100px;
}

.mainBox {
  width: auto;
  min-width: 230px;
  max-width: 600px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .row1{
  float:left
} */

/* mat-card{
  width: 400px; */
  /* min-width: 230px;
  max-width: 600px; */
  /* height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

mat-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 0;
  border-radius: 4px;
  width: 400px;
  height: 100px;
  margin-top: 20px;
  float: left;
  margin-right: 20px;
}
@media only screen and (max-width: 400px) {
  mat-card {
    width: 300px;
  }
  .fas1{
    margin-top: 30px;
    
  }
}
.box{
  margin-right: auto;
  margin-left: auto;
  display: block;
  /* text-align: center; */
  /* margin: auto; */
  max-width: 850px;
      /* width: 100%;
    max-width: 300px;
    max-height: 270px;
    height: 100%;
    float: left;
    margin-left: 5%;
    margin-top: 3%; */
    border: 0;
    /* background-color: white; */
}

