<div>
    <mat-card >
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMc0dOyYim6ji63xzyofMl77e5HYNPH13MIg&usqp=CAU" alt="">
        <mat-card-content>
        <h2>{{teachers}}</h2>
        <h2>Teachers</h2>
        </mat-card-content>
    </mat-card>
</div>
<div>
    <mat-card >
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ-Hmok7gJrX4_AU60LCr4DeyDy_vGM9aLtg&usqp=CAU" alt="">
        <mat-card-content>
        <h2>{{students}}</h2>
        <h2>Students</h2>
        </mat-card-content>
    </mat-card>
</div>