<!-- <div class="row" >
        <div class="col">
        </div>
        <div class="col-8">
            <canvas mdbChart 
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
            size="50">
        </canvas>
        </div>
        <div class="col"></div>
</div> -->



<div class="content">
    <h2>Dashboard</h2>
    <hr>
    <div class="row">
        <div class="box">
            <mat-card>
                <mat-card-content>
                    <div class="iconBox icon1">
                        <i class="fas fa-user-tie user fass"></i>
                    </div>
                    <h3>Advisory Teachers (25)
                        <i class="fas fa-arrow-right fas1"></i>
                    </h3>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="iconBox icon2">
                        <i class="fas fa-user-friends fass"></i>
                    </div>
                    <h3>Non-Advisory Teachers (10)
                        <i class="fas fa-arrow-right fas1"></i>
                    </h3>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="iconBox icon3">
                        <i class="fas fa-chalkboard-teacher fass"></i>
                    </div>
                    <h3>Total Number of Teachers (35)
                        <!-- <i class="fas fa-arrow-right fas1"></i> -->
                    </h3>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="iconBox icon4">
                        <i class="fas fa-users fass"></i>
                    </div>
                    <h3>Total Number of Students (1300) 
                        <!-- <i class="fas fa-arrow-right fas1"></i> -->
                    </h3>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br><br><br><br>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8" style="display: block">
            <canvas mdbChart 
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
            size="50">
        </canvas>
        </div>
        <div class="col"></div>
    </div>

  
    <!-- <br><br>
    <div style="display: block">
        <canvas mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
        </canvas>
      </div> -->
</div>


<!-- 
<div class="row" >
        <div class="col">
        </div>
        <div class="col-8" style="display: block">
            <canvas mdbChart 
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
            size="50">
        </canvas>
        </div>
        <div class="col"></div>
    </div>

 -->









































<!-- <div class="container">
    <h2>Dashboard</h2>
    <div class="row">
        <div class="col-3">
            <div class="iconBox icon1">
                <i class="fas fa-chalkboard-teacher"></i>
            </div>
            <div class="mainBox">
                <h1>23</h1>
                <h3>Advisory Teachers</h3>
                <button (click)="icon1()">Click For More Details</button>
            </div>
        </div>
        <div class="col-3">
            <div class="iconBox icon2">
                <i class="fas fa-chalkboard-teacher"></i>
            </div>
            <div class="mainBox">
                <h1>12</h1>
                <h3>Non Advisory Teachers</h3>
                <button (click)="icon2()">Click For More Details</button>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
    <div class="row">
        <div class="col-3">
            <div class="iconBox icon3">
                <i class="fas fa-users"></i>
            </div>
            <div class="mainBox">
                <h1>1038</h1>
                <h3>Total Students</h3>
                <button (click)="icon3()">Click For More Details</button>
            </div>
        </div>
        <div class="col-3">
            <div class="iconBox icon4">
                <i class="fas fa-chalkboard-teacher"></i>
            </div>
            <div class="mainBox">
                <h1>35</h1>
                <h3>Total Teachers</h3>
                <button (click)="icon4()">Click For More Details</button>
            </div>
        </div>
    </div>
</div> -->