<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="../../assets/images/nonEditedLogo.PNG" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">

                    <form #login="ngForm">
                        <div class="col-6">
                            <mat-form-field appearance="outline" class="inputField">
                                <mat-label>Username</mat-label>
                                <input type="text" matInput required name="username" [(ngModel)]="loginCred.username"
                                    #username="ngModel">
                                <mat-icon *ngIf="loginCred.username" mat-button matSuffix mat-icon-button
                                    aria-label="Clear" (click)="loginCred.username=''">
                                    close
                                </mat-icon>
                                <mat-error *ngIf="error.invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="outline" class="inputField">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput [type]="hide ? 'password' : 'text'" required
                                    name="password" [(ngModel)]="loginCred.password" #password="ngModel">
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                                    'visibility'}}
                                </mat-icon>
                                <mat-error *ngIf="error2.invalid">{{getErrorMessage2()}}</mat-error>
                            </mat-form-field>
                        </div><br>
                        <div class="center">
                            <button mat-button [disabled]="!login.form.valid" (click)="loginBtn()">Login</button>
                        </div>
                        <br>
                    </form>
                </div>
                <!-- <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</body>