<div class = "div1">
   <mat-card class= "card1">
         <h1>Manage Your Account</h1>
         <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input type="text" matInput placeholder="Username" value = '{{username}}'>
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" value = '{{password}}'>
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" value = '{{email}}'>
            <mat-icon matSuffix>mode_edit</mat-icon>
          </mat-form-field>
        </form>
         <button class ="button2"  mat-button >Update Account</button> 
   </mat-card>
   <br>
   <mat-card class = "card1">
      <h1>Add Account</h1>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input type="text" matInput placeholder="Username" >
          <mat-icon matSuffix>perm_identity</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" >
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
        <br>
        <button class ="button2"  mat-button >Add Account</button>
      </form>
   </mat-card>
</div>
<div class="div2">
   <mat-card class = "card2">
      <h1>List of Accounts</h1>
      <form class="example-form">
          <mat-form-field class="example-full-width">
              <input class="input" matInput type="text" autocomplete="off">
                
          </mat-form-field>
          <button mat-button >
              <mat-icon matSuffix mat-icon-button aria-label="Search">search</mat-icon>
          </button>
        </form>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let account"> {{account.name}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="uname">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let account"> {{account.uname}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let account"> {{account.mail}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="test">
            <th mat-header-cell *matHeaderCellDef> Test </th>
            <td mat-cell *matCellDef="let account"> {{account.test}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
      </div>
   </mat-card>
</div>

