<div class = "div1">
   <div class = "div2">
      <mat-card class= "card1">   
         <h1>Manage Your Account</h1>
         <!-- <img src="https://lh3.googleusercontent.com/-xGs5HBal37Q/YBz83h7Re4I/AAAAAAAAJvk/PepwKgfbmzgJSjrfi10yXiVJLkVo95fwACK8BGAsYHg/s0/2021-02-05.jpg " alt="">
         <br>
         <button class ="button1" mat-button >Update Profile</button>
         <br><br> -->
         <mat-form-field class="input" appearance="outline">
            <mat-label>Username:</mat-label>
            <input type="text" name = 'userName' matInput value = '{{username}}' >
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
         </mat-form-field>
         <mat-form-field class="input" appearance="outline">
            <mat-label for='pass'>Password: </mat-label>
            <input type="password" name = 'pass' matInput value = '{{password}}' >
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
         </mat-form-field>
         <mat-form-field class="input" appearance="outline">
            <mat-label for='email'>Email: </mat-label>
            <input type="email" name = 'email' matInput value = '{{email}}' >
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
         </mat-form-field>
         <button class ="button2"  mat-button >Update Account</button>
      </mat-card>
      <br>
      <mat-card class = "card1">
         <h1>Add Account</h1>
         <label for='userName'>Username: </label>
         <input type="text" name = 'userName' matInput>
         <br>
         <label for='pass'>Password: </label>
         <input type="password" name = 'pass' matInput >
         <button class ="button2"  mat-button >Add Account</button>
      </mat-card>
   </div>
   <mat-card class = "card2">
      <h1>List of Accounts</h1>
      <mat-form-field >
         <mat-label>Search</mat-label>
         <input matInput type="text" autocomplete="off">
         <button mat-button matSuffix mat-icon-button aria-label="Clear">
         </button>
      </mat-form-field>
      <mat-icon matSuffix mat-icon-button aria-label="Search">search</mat-icon>
   </mat-card>
</div>

<!-- <mat-icon>close</mat-icon> -->