<header>
    <!-- <p>Mantalongon Elementary School</p> -->
</header>
<mat-sidenav-container>
    <mat-sidenav mode = "side" [(opened)]='showSideNav'>
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)='showSideNav = !showSideNav'>close</mat-icon>
        <img src="https://lh3.googleusercontent.com/-xGs5HBal37Q/YBz83h7Re4I/AAAAAAAAJvk/PepwKgfbmzgJSjrfi10yXiVJLkVo95fwACK8BGAsYHg/s0/2021-02-05.jpg " alt="">
        <mat-list role="list" *ngFor="let content of navContent" >
            <mat-list-item id='{{content}}' [ngClass]="{active: lateActive == content}"  (click)=" childRoutes(content)"  role="listitem">{{content}}</mat-list-item>
        </mat-list>
        </mat-sidenav>
    <mat-sidenav-content>
        <div [(hidden)]='showSideNav'>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"   (click)='showSideNav = !showSideNav'>
                <mat-icon class='menuIcon'>menu</mat-icon>
            </button>
         </div>
        <router-outlet></router-outlet> 
    </mat-sidenav-content>
</mat-sidenav-container>
<footer >
</footer>