<app-nav-bar></app-nav-bar>
<div class='content'>

    <h1>Grade Level</h1>

    <span class="box">
        <h2>Kinder</h2>
        <br>
        <h6>Total sections:</h6>
        <h6>Total students:</h6>
        <br>
        <button class="btn">View</button>
      </span>

      <span class="box">
        <h2>1</h2>
        <br>
        <h6>Total sections:</h6>
        <h6>Total students:</h6>
        <br>
        <button class="btn">View</button>
      </span>

      <span class="box">
        <h2>2</h2>
        <br>
        <h6>Total sections:</h6>
        <h6>Total students:</h6>
        <br>
        <button class="btn">View</button>
      </span>

      <span class="box">
        <h2>3</h2>
        <br>
        <h6>Total sections:</h6>
        <h6>Total students:</h6>
        <br>
        <button class="btn">View</button>
      </span>

      <span class="box">
        <h2>4</h2>
        <br>
        <h6>Total sections:</h6>
        <h6>Total students:</h6>
        <br>
        <button class="btn">View</button>
      </span>

      <span class="box">
        <h2>5</h2>
        <br>
        <h6>Total sections:</h6>
        <h6>Total students:</h6>
        <br>
        <button class="btn">View</button>
      </span>

      <span class="box">
        <h2>6</h2>
        <br>
        <h6>Total sections:</h6>
        <h6>Total students:</h6>
        <br>
        <button class="btn">View</button>
      </span>
</div>
