.addIcon{
    margin-right: 5%;
    float: right;
    transform: scale(2);
    margin-top: 1%;
    color: #5CB85C
}

.mat-tab-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    color: #51749b !important
}

.box {
    width: 100%;
    max-width: 300px;
    max-height: 270px;
    height: 100%;
    float: left;
    margin-left: 5%;
    margin-top: 3%;
    border:1px solid #703d06;
    background-color: white;
}

.icon {
    color: #000000;
}

.card-header {
    background: #51749b !important;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    text-transform: uppercase;
}

.viewStuBtn {
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 40px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #2080FF ;
}

.viewStuBtn:hover {
    background: #2080FF !important;
    color: white;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, fantasy;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
}