.content{
  padding-left: 20px;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, fantasy;
  font-weight: bold;
  font-style: normal;
  font-size: 25px;
}

mat-form-field {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
  padding-left: 20px;
}

.mat-table {
  margin-top: 3%;
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  line-break: unset;
  width: 45%;
  white-space: nowrap;
  vertical-align: middle;
}

.mat-row:hover {
  background-color: #dcdedc;
  color: black;
}

.mat-header-cell{
  background: #51749b !important;
  color: #FFFFFF;
  text-align: justify;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: white;
  font-size: medium;
}

.mat-elevation-z8{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.addIcon{
  margin-right: 5%;
  float: right;
  transform: scale(2);
  margin-top: 1%;
  color: #5CB85C
}

.editIcon {
  color: #f0ad4e;
}

td {
  /* font-family: OCR A Std, monospace; */
  font-size: 15px;
}


/* mat-paginator {
  background: #51749b !important;
} */

/* .mat-row:nth-child(odd) {
  background: #FFFFFF !important;
}

.mat-row:nth-child(even) {
  background: #51749b !important;
} */