<div class="content">
    <h2>Student's Information</h2>
    <div>
        <!-- <mat-form-field>
            <mat-label>Search by {{typeSearch}}</mat-label>
            <input type="number" matInput autocomplete="off" *ngIf='lrn === true' (click)='lrn = true'
                [(ngModel)]="searchLrn" (keyup)="filterLrn($event.target.value)">
            <input type="text" matInput autocomplete="off" *ngIf='lrn === false' [(ngModel)]="fullName"
                (keyup)="filterFullName($event.target.value)">
            <mat-hint align="end">Search using LRN or Name</mat-hint>
        </mat-form-field>

        <button mat-button [matMenuTriggerFor]="menu" class='menuIcon'>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)=' typeSearch = "LRN"; lrn= true '>LRN</button>
            <button mat-menu-item (click)=' typeSearch = "Name (Last Name, First name)"; lrn= false '>Name</button>
        </mat-menu> -->

        <mat-form-field>
            <mat-label>Search by Year</mat-label>
            <input matInput [ngModel]="searchByYear" (ngModelChange)="yearFilter($event)">
            <!-- <input type="number" matInput autocomplete="off" [(ngModel)]="date" (keyup)="filterYear($event.target.value)"> -->
        </mat-form-field>
    </div>

    <div>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="lrn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> LRN
                        <div>
                            <mat-form-field>
                                <input matInput class="form-field" [formControl]="lrnFilter" placeholder="LRN Filter">
                            </mat-form-field>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let student"> {{student.lrn}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name
                        <div>
                            <mat-form-field>
                                <input matInput class="form-field" [formControl]="nameFilter" placeholder="Name Filter">
                            </mat-form-field>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let student"> {{student.fullName}} </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
                    <td mat-cell *matCellDef="let student">
                        <mat-icon color="warn" (click)="editFile(student.fileUrl, student.lrn, student.fullName)">edit
                        </mat-icon>
                    </td>
                </ng-container>
                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> View </th>
                    <td mat-cell *matCellDef="let student">
                        <mat-icon color="primary" (click)='showFile(student.fileUrl)'>visibility</mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5,10,15]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <div>
        <button mat-icon-button class="addIcon" matTooltip="Add Student Form 10" (click)="openDialog()">
            <mat-icon class='menuIcon'>add_circle</mat-icon>
        </button>
    </div>
</div>