<h1 mat-dialog-title>Add old form of student</h1>
<div class = "form">
  <mat-form-field appearance="outline" class="inputField">
    <mat-label>LRN: </mat-label>
    <input matInput [(ngModel)]="lrn" autocomplete="off" required>
  </mat-form-field> <br>
  <mat-form-field appearance="outline">
    <mat-label>Full Name: LastName, FirstName Middle Initial  Extn. </mat-label>
    <input matInput [(ngModel)]="fullName" autocomplete="off" required>
  </mat-form-field> <br>
  <i class="material-icons">attach_file</i><input #fileInput type="file"  (change)="handleFileInput($event.target.files)" required/>
</div>
<div mat-dialog-actions>
  <button mat-button  (click)= 'addStudent(fileToUpload)'>Add Student</button>
  <button mat-button mat-dialog-close class = 'cancel' >Cancel</button>
</div>

