<div class="card">
  <div class="card-header">
    <h1>Add Old Form Of Students</h1>
  </div>
  <div class="card-body">
    <mat-dialog-content class="mat-typography">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <!-- <mat-form-field appearance="outline" class="inputField" *ngIf='displayDate'>
              <mat-label>Year Graduated</mat-label>
              <input matInput  [(ngModel)]="year"  [max]="maxDate" required autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event, dp)"
                panelClass="year-picker">
              </mat-datepicker>
              <mat-error *ngIf="error.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field> -->

            <mat-form-field appearance="outline" class="inputField" >
              <mat-label>Year Graduated</mat-label>
              <input *ngIf='displayDate' matInput  [matDatepicker]="dp" [(ngModel)]="year"  [max]="maxDate" required autocomplete="off">
              <input *ngIf='!displayDate' matInput [matDatepicker]="dp" [formControl]="date"  [max]="maxDate" required autocomplete="off">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event, dp)"
                panelClass="year-picker">
              </mat-datepicker>
              <mat-error *ngIf="error.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>

          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="inputField">
              <mat-label>LRN</mat-label>
              <input matInput type="number" [(ngModel)]="lrn" required>
              <mat-icon *ngIf="lrn" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="lrn=''">
                close
              </mat-icon>
              <mat-error *ngIf="error.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="inputField">
              <mat-label>Full Name</mat-label>
              <input matInput type="text" [(ngModel)]="fullName" required>
              <mat-icon *ngIf="fullName" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="fullName=''">
                close
              </mat-icon>
              <mat-error *ngIf="error.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field appearance="outline" class="inputField">
              <mat-label>Attach File</mat-label>
              <ngx-mat-file-input #fileInput type="file" (change)="handleFileInput($event.target.files)" required
                accept=".pdf">
              </ngx-mat-file-input>
              <mat-icon matSuffix>folder</mat-icon>
              <mat-error *ngIf="error.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </div>

        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close class='cancel'>Cancel</button>
      <button mat-button (click)='addStudent(fileToUpload)'>Save</button>
    </mat-dialog-actions>
  </div>
</div>