<div *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center; background: white;">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
</div>
<div class="content" *ngIf="!isLoading">
    <h2>Dashboard</h2>
    <div class = 'emptyForm'>
        <button mat-button color="primary" (click) ='downloadEmptyForm()'>Download empty Form10 <mat-icon>south</mat-icon></button>
    </div>
    <hr>
    <div class="row">
        <h1>S.Y. {{schoolYear}}</h1>
    </div>
    
    <div class="row">
        <div class="box">
            <mat-card>
                <mat-card-content>
                    <div class="iconBox icon1">
                        <i class="fas fa-user-tie user fass"></i>
                    </div>
                    <h3>Advisory Teachers
                        <i class="fas fa-arrow-right fas1" (click)='openDialog("advisory")'></i>
                    </h3>
                    <h1>{{totalNumberofAdvisory}}</h1>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="iconBox icon2">
                        <i class="fas fa-user-friends fass"></i>
                    </div>
                    <h3>Non-Advisory Teachers
                        <i class="fas fa-arrow-right fas1" (click)='openDialog("nonAdvisory")'></i>
                    </h3>
                    <h1>{{totalNumberofNonAdvisory}}</h1>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="iconBox icon3">
                        <i class="fas fa-chalkboard-teacher fass"></i>
                    </div>
                    <h3>Total Number of Teachers
                    </h3>
                    <h1>{{totalNumberofTeachers}}</h1>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-content>
                    <div class="iconBox icon4">
                        <i class="fas fa-users fass"></i>
                    </div>
                    <h3>Total Number of Students
                    </h3>
                    <h1>{{totalNumberofStudents}}</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br><br><br><br>
    <div class="row">
        <div class="col">
        </div>
        <div class="col-8" style="display: block">
            <canvas mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels"
                [colors]="chartColors" [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
            </canvas>
        </div>
        <div class="col"></div>
    </div>
</div>