<div id="header">
    <!-- <h5></h5> -->
</div>

<div *ngIf='!isShown' (click)="show()" class='notShown'> <h1>&#9776;</h1></div>
<div class="sidebar" *ngIf='isShown'>
   <h2 id='close' (click)="show()" > &times;</h2>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/How_to_use_icon.svg/1200px-How_to_use_icon.svg.png" alt="">
    <a routerLink="/dashboard" class="active">Dashboard</a>
    <a routerLink="/allStudents">Students</a>
    <a routerLink="/allTeachers">Teachers</a>
    <a routerLink="/classes">Classes</a>
    <a  >Settings</a>
</div>
<div id="footer">
    <!-- <h5></h5> -->
</div>
